name: Android-Чтосмотреть-浏览
on:
  workflow_dispatch:
  schedule:
    - cron: 34 7 * * *
  watch:
    types: started
  repository_dispatch:
    types: bean_change
jobs:
  build:

    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: npm install
        run: |
          npm install
      - name: '运行 【Android-Чтосмотреть-Baxın】'
        run: |
          
          node Android-Чтосмотреть-Baxın.js

        env:
          zqllzbody: ${{ secrets.ZQLLZBODY }}
